body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fff;
  height: 100vh; 
}

header {
  background-color: #509cfa;
  color: white;
  text-align: center;
  padding: 2vh 0; 
  font-size: 2.5vh;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  padding: 2vh 4vw 0 4vw;
}

#backBtn {
  background: none;
  border: none;
  font-size: 3vh;
  cursor: pointer;
  color: black;
}

.container {
  max-width: 45vh; 
  margin: 3vh auto;
  padding: 3vh;
  border: 0.2vh solid #ddd;
  border-radius: 1.2vh;
  box-shadow: 0 0.4vh 1vh rgba(0,0,0,0.05);
}

input {
  width: 90%;
  padding: 1.8vh;
  margin: 1.5vh auto;
  display: block;
  border: 0.2vh solid #ccc;
  border-radius: 1vh;
  font-size: 2vh;
  box-sizing: border-box;
}

#submitBtn {
  width: 90%;
  padding: 1.8vh;
  background-color: #509cfa;
  color: white;
  border: none;
  border-radius: 1vh;
  font-size: 2.1vh;
  cursor: pointer;
  margin: 2vh auto;
  display: block;
}

#submitBtn:hover {
  opacity: 0.9;
}

#msg {
  text-align: center;
  margin-top: 1.5vh;
  font-size: 1.8vh;
  color: #333;
}
